
<div class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="row">
        <h4 style="margin-left:5px; color:white;">FEDERACIÓN DEPORTIVA PERUANA DE NATACIÓN <img src="~/Content/img/Logo_fdpn.png" style="height:50px;" /></h4>
    </div>

</div>
