.body-content {
    padding-left: 15px;
    padding-right: 15px
}

.dl-horizontal dt {
    white-space: normal
}

input, select, textarea {
    max-width: 280px;
   /* border-radius: 10px*/
}

.inputYoutube {
    max-width: 580px;
    border-radius: 5px;
    color: #000
}

.espaciado {
    margin-bottom: 50px
}

.espaciadogrande {
    margin-bottom: 200px
}

.centrado {
    margin: 10px auto;
    display: block
}

.natacion {
    background: #EBDEF0
}

.master {
    background: #D1F2EB
}

.aguas {
    background: #F6DDCC
}

.wp {
    background: #EBDEF0
}

.clavados {
    background: #D0ECE7
}

.sincro {
    background: #FADBD8
}

.todas {
    background: #F4F6F6
}

.MiniLogo {
    height: 10vh;
    max-width: 100%
}

.IgualAltura {
    overflow: hidden
}

.ElementoIgualAltura {
    padding-bottom: 100%;
    margin-bottom: -100%
}
.tituloResponsivo {
    font-size: 5vw;
   
}

.contenedorFraseInicial {
    max-width: 95vw !important;
    margin: -60px 30px 0;
}
.contenedorLogo {
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.contenedorNadadorDestacado {
    height: 200px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.ImagenCuarto {
    background: transparent 50% 50% no-repeat;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.ImagenMitad {
    max-width: 50%;
    height: auto
}

.ImagenTamano {
    max-width: 100%;
    height: auto
}

.iconCalendario {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%
}

.tablacenter {
    margin-left: auto;
    margin-right: auto
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.info-tabla {
    color: #fff
}

    .info-tabla thead th {
        font-size: .95rem;
        font-weight: 500;
        color: #fff;
        border-top-width: 0;
        border-bottom-width: 1px
    }

.imagenperfil {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    transform: translate3d(0,-50%,0);
    border-radius: 20px !important
}

.imageProfesor {
    max-height: 250px;   
    height: 100%;
    margin: 0 auto;    
    border-radius: 15px !important
}

.imagennoticia {
    max-height: 100%;
    max-width: 100%
}

.imagenpreviewNoticia {
    height: 450px;
    max-width: 100%;
    object-fit: cover
}
.imagenPreviewBannerCurso {
    max-width: 100%;
    object-fit: cover;
}
.imagenBannerCurso {
    border-radius: 15px;
    max-width: 45vw;
    height:auto;
}
.tab_Banner_Curso {
    text-align: center;
}
.navbar .navbar-nav .nav-item .form-control {
    color: inherit
}

.dropdown-menu {
    left: -200px;
    min-width: 20rem
}


.divForm {
    display: table;
}

div.t {
    display: table-cell;
    width: 100%;
}

    div.t > input {
        width: 100%;
    }
.medalla1 {
    background-image: url(img/Imgsmall/medal1.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.medalla3 {
    background-image: url(img/Imgsmall/medal3.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.medalla2 {
    background-image: url(img/Imgsmall/medal2.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}
.card-description, .description, .footer-big p {
    color: #2c2c2c;
}