


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 10px;
}

.inputYoutube {
    max-width: 580px;
    border-radius:5px;
    color:black;
}

.espaciado {
    margin-bottom: 50px;
}

.espaciadogrande {
    margin-bottom: 200px;
}

.centrado {
    margin: 10px auto;
    display: block;
}

.natacion {
    background: #b5c0fc;
}

.master {
    background: #558000;
}

.aguas {
    background: #f9facc;
}

.wp {
    background: #eebd9f;
}

.clavados {
    background: #ff9898;
}

.sincro {
    background: #de71b4;
}

.todas {
    background: #ffffff;
}



.MiniLogo {
    height: 50px;
}

.IgualAltura {
    overflow: hidden;
}

.ElementoIgualAltura {
    padding-bottom: 100%;
    margin-bottom: -100%;
}
.ImagenCuarto {
    max-width: 25%;
    height: auto;
}
.ImagenMitad {
    max-width: 50%;
    height: auto;
}
.ImagenTamano{
    max-width: 100%;
    height: auto;
}

.iconCalendario {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}
.tablacenter {
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-tabla {
    color: #fff;
}

    .info-tabla thead th {
        font-size: .95rem;
        font-weight: 500;
        color: #fff;
        border-top-width: 0;
        border-bottom-width: 1px;
    }

