
@{
    string titulo = ViewBag.title;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="natación, natación adultos, natación bebés, natación niños, aquabebé, natación patera, patera, clavados, saltos ornamentales
          waterpolo, water polo, polo, polo acuático, nado sincronizado, sincro, natación artística, competencias natación, resultados natación, academia, enseñanza natación,
          federación, deportes acuáticos, aguas abiertas, natación en aguas abiertas, guia didáctica, cursos, cursos natación, juez natación, juez cronometrista,
          juez nado sincronizado, árbitro polo, árbitro waterpolo, árbitro water polo, árbitro polo acuático,
          Perú, peruana, natación peruana">
    <title>FDPN</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/Imgsmall/favicon.ico" />


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- CSS Files -->
    <link href="~/Content/css/material-kit.mind1f1.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">


    <link href="~/Content/Site.css" rel="stylesheet" />





</head>
<body class="sections-page sidebar-collapse">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- keep width for all viewport sizes -->




    @Html.Action("_TopBar", "Home", new { @titulo = titulo })
    @Html.Partial("_Banner")
    <div class="main main-raised">
        <div class="section-space"></div>
        @RenderBody()

        @Html.Partial("_footer")
    </div>
    <!--   Core JS Files   -->



    <script src="~/Content/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>

    <script src="~/Content/js/plugins/moment.min.js"></script>
    <!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/Content/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    @*<script async defer src="../../buttons.github.io/buttons.js"></script>*@
    <!--	Plugin for Sharrre btn -->
    <script src="~/Content/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="~/Content/js/plugins/jquery.flexisel.js" type="text/javascript"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    @*<script async defer src="../../buttons.github.io/buttons.js"></script>*@

    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/js/material-kit.mind1f1.js?v=2.2.0" type="text/javascript"></script>

    <nav id="cd-vertical-nav">
        <ul>
            <li>
                <a href="#headers" data-number="1">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Headers</span>
                </a>
            </li>
            <li>
                <a href="#features" data-number="2">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Features</span>
                </a>
            </li>
            <li>
                <a href="#blogs" data-number="3">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Blogs</span>
                </a>
            </li>
            <li>
                <a href="#teams" data-number="4">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Teams</span>
                </a>
            </li>
            <li>
                <a href="#projects" data-number="5">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Projects</span>
                </a>
            </li>
            <li>
                <a href="#pricing" data-number="6">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Pricing</span>
                </a>
            </li>
            <li>
                <a href="#testimonials" data-number="7">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Testimonials</span>
                </a>
            </li>
            <li>
                <a href="#contactus" data-number="8">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Contact Us</span>
                </a>
            </li>
        </ul>
    </nav>
</body>

<!-- Mirrored from aidainternational.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Apr 2017 17:17:56 GMT -->
</html>