

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Error presentado</h1>
        <h2>Se ha presentado un error de comunicación con la base de datos.</h2>
        <p>Esto puede originarse por mala conexión de red, un error en un datos de algún deportista o por un error de diseño.</p>
        <h4>Por favor recargue la página otra vez. De continuar el error comunique a la FDPN.</h4>
    </div>
   
</body>
</html>
