

<div class="wrapper">
    <div class="site-header__content">
        <div class="site-header__branding">
            <a href=@Url.Action("index", "Home") class="logo">
                <img src="~/Content/img/Logo_fdpn.png" style="width:150px;" alt="FDPN" />
            </a>
        </div>
        <div class="site-header__copy">
            <h4 class="site-header__claim">Federación deportiva peruana de natación</h4>
        </div>
    </div>
</div>