@model List<FDPN.Models.Noticias>

<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
    <i class="material-icons">done_all</i> Apps
</a>
<div class="dropdown-menu dropdown-with-icons">
    @foreach (var item in Model)
    {
        <a class="nav-link" href=@Url.Action("Noticia", "Documentos", new { @id= item.NoticiaId})>@item.Titulo</a>
    }

</div>

