
@{
    string path = "../Content/img/Imgsmall/";
}

<div class="site-homepage__pushup">
    <div class="BannerJaked u-animation--fadeInSection" style="margin-top:10px;">

        <center>

            <a href="http://www.grupoacquabello.com/"  id="Jaked" class="center"> </a>
               
                <h1 class="u-type--medium u-type--delta u-spc-bottom--med cardsubtitulo-blanca">Auspiciador</h1>
                <p class="u-type--medium u-type--delta u-spc-bottom--med cardsubtitulo-blanca"> <small>Una marca del grupo Acquabello</small> </p>
                <div class="wrapper">
                    <center>
                        <a class="btn btn-default  master" href="http://www.grupoacquabello.com/" target="_blank">Quienes somos</a>
                        <a class="btn btn-default  wp" href="http://www.trattusperu.com/product-category/madwave/" target="_blank">Madwave </a>

                        <a class="btn btn-default  aguas" href="http://www.grupoacquabello.com/index.php/product-category/jaked/" target="_blank">Jaked </a>

                        <a class="btn btn-default  clavados" href="http://www.grupoacquabello.com/index.php/product-category/aflex/" target="_blank">Aflex </a>

                        <a class="btn btn-default  natacion" href="http://www.trattusperu.com/product-category/wow/" target="_blank">Wow </a>

                        <a class="btn btn-default todas" href="http://www.grupoacquabello.com/index.php/proyectos-myrtha-pools/" target="_blank">Myrtha </a>

                        <a class="btn btn-default  sincro" href="http://www.grupoacquabello.com/#contact" target="_blank">Contáctanos</a>

                    </center>   
                </div>
           
        </center>
       
    </div>

</div>


