

@{
    int anno = DateTime.Now.Year;
}

<div class="social-line social-line-white text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h4 class="title">Listado de clubes afiliados el año @anno</h4>
            </div>
            @Html.ActionLink("Ver Listado", "ListadoClubesAfiliados", "nosotros", null, new { @class = "btn btn-primary tablacenter" })
        </div>
    </div>
</div>



