
@{
    string path = "../Content/img/Imgsmall/";
}

<div class="site-homepage__pushup">
    <div class="BannerJaked u-animation--fadeInSection" style="margin-top:10px;">

        <center>

            <a href="http://www.escuelasdeportivassac.com/"  id="Jaked" class="center"> </a>
               
                <h1 class="site-header__claim card subtitulo-blanca">Auspiciador</h1>
                <p class="u-type--medium u-type--delta u-spc-bottom--med cardsubtitulo-blanca"> <small>Una marca de Escuelas Deportivas SAC</small> </p>
                <div class="wrapper">
                    <center>
                        <a class="btn btn-default  master" href="http://www.escuelasdeportivassac.com/quienes-somos/" target="_blank">Quienes somos</a>

                        <a class="btn btn-default  wp" href="http://www.escuelasdeportivassac.com/product-category/madwave/" target="_blank">Madwave </a>

                        <a class="btn btn-default  aguas" href="http://www.escuelasdeportivassac.com/product-category/caldera-spas/" target="_blank">Caldera Spa  </a>

                        <a class="btn btn-default  clavados" href="http://www.escuelasdeportivassac.com/product-category/aflex/" target="_blank">Aflex </a>

                        <a class="btn btn-default  natacion" href="http://www.escuelasdeportivassac.com/product-category/vasa/" target="_blank">Vasa </a>

                        <a class="btn btn-default todas" href="http://www.escuelasdeportivassac.com/myrtha-pools/" target="_blank">Myrtha </a>

                        <a class="btn btn-default  master" href="http://swimworldspa.com/" target="_blank">Swim Worlds Spa</a>

                        <a class="btn btn-default  wp" href="http://www.escuelasdeportivassac.com/product-category/endless-pools/" target="_blank">Endless Pools </a>

                        <a class="btn btn-default  sincro" href="http://www.escuelasdeportivassac.com/contactanos/" target="_blank">Contáctanos</a>

                    </center>   
                </div>
           
        </center>
       
    </div>

</div>


