
@{
    ViewBag.Title = "Mantenimiento";
}

<div class="espaciadogrande"></div>
<div style="text-align: center;">
    <h2 style="color:blue">Discúlpanos, estamos en mantenimiento</h2>
    <img src="/Content/img/En Mantenimiento.png" style="background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   " />

    <div class="espaciadogrande"></div>
    <h2 style="color:blue">En breve terminaremos y podrás ver nuestro contenido.</h2>
</div>

<div class="espaciadogrande"></div>

<div style="text-align: center;">
    <img src="~/Content/img/pulpito nadando.gif" />
    </div>