
@{
    ViewBag.Title = "construccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estamos actualizando datos con los últimos torneos </h2>
<p> Pronto regresaremos para poder hacer inscripciones en línea</p>



<img src="~/Content/img/Enconstruccion.jpg" />