
	
dt, dd {
	line-height: 3;
	margin-left: 50px;
}



@media (min-width: 768px) {
	.dl-horizontal dt {
		float: left;
		width: 260px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.dl-horizontal dd {
	margin-left: 320px;
}
}

/* 
Generic Styling, for Desktops/Laptops 
*/

table, .table {
    color: #101010;
    }

table { 
  width: 100%; 
  border-collapse: collapse; 
}


.activity-item {
	overflow: visible;
	position: relative;
	margin: 15px 0;
	border-top: 1px dashed #ccc;
	padding-top: 15px;
}

.media, .media-body {
	overflow: hidden;
	zoom: 1;
}

.activity-item .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	width: 32px;
}

.acti

.media-object {
	display: block;
	border-radius: 2px;
	width: 32px;    
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.nocumplemarca {
    background-color: #e6a0a0;
    }
.tienemulta {
    background-color: #808080;
}
.YaEstaInscrito {
    background-color: #ed1111;
}

.YaTieneTiempos {
    background-color: #fbe4d3 !important;*/
}

.FotoNadador {
    border-radius: 5px;
    height:80px;
}

.fotocarnet{
    width :130px;
    height:180px;
}

.espaciado{
    margin-bottom:50px;
}
.espaciadogrande {
    margin-bottom: 200px;
}

.sesion1 {
    background-color: #1ab394 !important;
    color: #FFFFFF;
}

.sesion2 {
    background-color: #23c6c8 !important;
    color: #FFFFFF;
}
.sesion3 {
    background-color: #f8ac59 !important;
    color: #FFFFFF;
}

.sesion4 {
    background-color: #E59866 !important;
    color: #FFFFFF;
}

.sesion5 {
    background-color: #5499C7 !important;
    color: #FFFFFF;
}

.sesion6 {
    background-color: #5499C7 !important;
    color: #FFFFFF;
}


.sesion7 {
    background-color: #e6a0a0 !important;
    color: #FFFFFF;
}

.sesion8 {
    background-color: #623ff5 !important;
    color: #FFFFFF;
}

.dashboard-header .list-group-item span.label {
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
}

.exportar {
    line-height: .8;
}

.fechaordenada {
    display:none;
}


.flexContainer {
    display: flex;
    max-height: 100px;
}

.chat-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    /*position: absolute;
    top: 220px;*/
    left: 0;
    right: 0;
    bottom: 0;
}

.flexbody {
    flex: 6;   
    overflow-y: auto;
    overflow-x: hidden;
}


.selected {
    background-color: #aab7d1;
}

.TieneInscripcion {
    background-color: #737afe;
}

.Inscribiendo {
    background-color: #62f177;
}

.textaviso {
    color: #f11;
}

.panel-warning {
    background-color: #f8e1ff;
}

.panel-heading {
    background-color: #a93ba7;
    color: white;
}

.modalmarca {
    max-width: 300px;
    border-radius: 10px;
}

.oculto {
    visibility: hidden;
}

.false{
    background-color:hotpink;
}
.text-danger {
    color: red;
    font-style: italic;
}

.envoltorio {
    margin-left: 0px;
    font-family: 'K2D', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.fade:not(.show) {
    opacity: 1;
}

.modal a.close-modal[class*="icon-"] {
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #900;
    border: 2px solid #fff;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    -ms-border-radius: 26px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.modal-Inscripciones {
    max-width: 1200px;
}
.loader-background {
    width: 100%;
    height: 100%;
    position: relative; /* Cambiamos de absolute a relative */
    background-color: #eaeaea4a;
    z-index: 9999;
}

.loader {
    border: 16px solid #d4d4d4;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    position: absolute; /* cambiamos de fixed a absolute */
    /* Ponemos el valor de left, bottom, right y top en 0 */
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto; /* Centramos vertical y horizontalmente */
}
.loader {
    background-image: url('c:\jorge\repos\portal web fdpn2\fdpn\nuevainscripcionatorneos\wwwroot\img\loading.gif');
}
.tituloModal {
    padding: 10px;
}