@model List<FDPN.Models.Calendario>

@{
    ViewBag.Title = "VersionImprimible";
    Layout = "~/Views/Shared/_LayoutWYSWYG.cshtml";
}

<h2>Version Imprimible</h2>

@Html.ActionLink("Imprimir", "PrintCalendario")

<table class="datatabla">
    <thead>
        <tr>
            <th>
                torneo
            </th>

            <th>
                fecha
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Evento
                </td>
                <td>
                    @item.Inicio.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>

