
@{
    ViewBag.Title = "Consanat";
}





<section class="site-contentpage site-homepage__pushup">
    <header class="site-homepage__section__header">
        <h2 class="site-title site-title--ultra site-title--ultra--primary">Confederación Sudamericana de Natación</h2>
    </header>
    <div class="wrapper">
        <div class="formatted">
            <p class="u-type--gamma">
                La Confederación Sudamericana de Natación (CONSANAT) es la confederación de asociaciones nacionales de natación en América del Sur. Supervisa las competiciones internacionales acuáticas entre los países sudamericanos.
            </p>
            <p class="u-type--gamma">
                Está afiliada a la Unión Americana de Natación (UANA),2​ y se compone por 12 miembros afiliados a la Federación Internacional de Natación (FINA).
            </p>
            <p class="u-type--gamma">
                La CONSANAT organiza los campeonatos sudamericanos de las disciplinas deportivas regidas por la FINA y es la encargada de homologar todas sus marcas a nivel sudamericano.
            </p>

            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Historia</strong></h2>
            <p class="u-type--gamma">
                La CONSANAT se formó el 16 de marzo de 1929 en Santiago de Chile luego de una reunión en la que estuvieron presentes las federaciones y asociaciones de natación 
                suramericanas reconocidas la FINA, siendo solamente Chile, Perú, Argentina y Uruguay las afiliadas en ese momento. Los delegados que conformaron la confederación 
                suramericana de natación fueron Camilo Romero y Spencer Le May por Chile; Guillermo Thomberry, Federico León y Eduardo Fry por Perú; Jack L. Soam y Sotero Vásquez 
                por Argentina y Francisco J. Beade más Paul Larrascq por Uruguay. Spencer Le May de Chile fue elegidos como primer presidente y dirigió la CONSANAT desde 1929 hasta 1934.​ 
                Su sede actual se encuentra actualmente en Río de Janeiro, Brasil.
            </p>
            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Presidentes</strong></h2>

            
            <p class="u-type--gamma">
               Lista de presidentes y sus nacionalidades
                <table class="tablaNormal">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Nacionalidad
                            </th>
                            <th>
                                Periodo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                Spencer Le May
                            </td>
                            <td>
                                Chile
                            </td>
                            <td>
                                1929-1934
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mario Negri
                            </td>
                            <td>
                                Argentina
                            </td>
                            <td>
                                1934-1949
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rivadavia Correa Meyer
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                1949-1956
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Germán Boisset Ortega
                            </td>
                            <td>
                                Chile
                            </td>
                            <td>
                                1956-1966
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sebastián Salinas Abril
                            </td>
                            <td>
                                Perú
                            </td>
                            <td>
                                1966-1972
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rubén Dinard De Araujo
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                1972-1976
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Julio Cesar Maglione
                            </td>
                            <td>
                                Uruguay
                            </td>
                            <td>
                                1976-1978
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Luis Chiriboga Parra
                            </td>
                            <td>
                                Ecuador
                            </td>
                            <td>
                                1978-1980
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Emilio Horacio Aguado
                            </td>
                            <td>
                                Argentina
                            </td>
                            <td>
                                1982-1986
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Francisco Luis Velásquez
                            </td>
                            <td>
                                Colombia
                            </td>
                            <td>
                                1986-1990
                            </td>
                        </tr>
                        <tr>
                            <td>
                                José Máximo Grimolizzi
                            </td>
                            <td>
                                Argentina
                            </td>
                            <td>
                                1990-1994
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ruben Marcio Dinard
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                1994-1998
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Jaime Cárdenas Gutiérrez
                            </td>
                            <td>
                                Colombia
                            </td>
                            <td>
                                1998-2006
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Coaracy Nunes Filho
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                2006-2010
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Francisco Javier López Chaves
                            </td>
                            <td>
                                Colombia
                            </td>
                            <td>
                                2010-2014
                            </td>
                          
                        </tr>
                    </tbody>
                </table>
            </p>
             <div class="site-homepage__split u-group u-animation--fadeInSection">
                <a href="http://www.consanat.com/">
                    <img src="~/Content/img/fondos/consanat.jpg" />
                </a>
            </div>
            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Comisiones</strong></h2>


            <p class="u-type--gamma">
                <table class="tablaNormal">
                    <thead>
                        <tr>
                            <th>
                                Comisión
                            </th>
                            <th>
                                País
                            </th>
                            <th>
                                Presidente
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Comisión Técnica de Natación
                            </td>
                            <td> Perú  </td>
                            <td>Carlos Eduardo Tabini </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>
                                Comisión Técnica de Clavados
                            </td>
                            <td>
                                Colombia
                            </td>
                            <td>
                                Miguel Ángel Reyes
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión Técnica de Polo Acuático
                            </td>
                            <td>
                                Venezuela
                            </td>
                            <td>
                                Arnaldo Zambrano
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión Técnica de Nado Sincronizado
                            </td>
                            <td>
                                Argentina
                            </td>
                            <td>
                                Oreste Temperini
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión Técnica de Aguas Abiertas
                            </td>
                            <td>
                                Ecuador
                            </td>
                            <td>
                                José Victor Tapia Valle
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión Técnica de Natación Master
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                Carlos Roberto Silva
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión de Juzgamiento
                            </td>
                            <td>
                                Argentina
                            </td>
                            <td>
                                Patricio Ramallo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión de Estatuto y Reglamento
                            </td>
                            <td>
                                Surinam
                            </td>
                            <td>
                                Guno Van Der Jagt
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comisión Médica
                            </td>
                            <td>
                                Brasil
                            </td>
                            <td>
                                Dr. Mario Sergio Rossi
                            </td>

                        </tr>
                    </tbody>
                </table>
            </p>




            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Federaciones Afiliadas</strong></h2>
            <p class="u-type--gamma">
                Doce son las asociaciones nacionales de natación pertenecientes a la CONSANAT, representando a todos los estados independientes de Sudamérica.
                <table class="tablaNormal">
                    <thead>
                        <tr>
                            <th>País</th>
                            <th>Federación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Argentina	</td>
                            <td>Confederación Argentina de Deportes Acuáticos</td>
                        </tr>
                        <tr>
                            <td> Bolivia		</td>
                            <td>Federación Boliviana de Natación</td>
                        </tr>
                        <tr>
                            <td> Brasil		</td>
                            <td>Confederación Brasileña de Deportes Acuáticos</td>
                        </tr>
                        <tr>
                            <td> Chile		</td>
                            <td>Federación Chilena de Deportes Acuáticoss</td>
                        </tr>
                        <tr>
                            <td> Colombia		</td>
                            <td>Federación Colombiana de Natación</td>
                        </tr>
                        <tr>
                            <td> Ecuador		</td>
                            <td>Federación Ecuatoriana de Nataciónos</td>
                        </tr>
                        <tr>
                            <td> Guyana		</td>
                            <td>Guyana Amateur Swimming Association</td>
                        </tr>
                        <tr>
                            <td> Paraguay		</td>
                            <td>Federación Paraguaya de Natación</td>
                        </tr>
                        <tr>
                            <td>  Perú		</td>
                            <td>Federación Deportiva Peruana de Natación</td>
                        </tr>
                        <tr>
                            <td>  Surinam		</td>
                            <td>Surinaamse Zwem Bond</td>
                        </tr>
                        <tr>
                            <td> Uruguay		</td>
                            <td>Federación Uruguaya de Natación</td>
                        </tr>
                        <tr>
                            <td> Venezuela	</td>
                            <td>Federación Venezolana de Deportes Acuáticos</td>
                        </tr>

                    </tbody>
                </table>
            </p>

            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Competiciones</strong></h2>

            <p class="u-type--gamma">
                La CONSANAT organiza los siguientes campeonatos de deportes acuáticos en sudamérica:
                <ol type="1">
                    <li>
                        Campeonato Sudamericano de Natación
                    </li>
                    <li>
                        Campeonato Sudamericano de Natación Juvenil
                    </li>
                    <li>
                        Campeonato Sudamericano de Natación en Aguas Abiertas
                    </li>
                    <li>
                        Campeonato Sudamericano de Natación Master
                    </li>
                </ol>

            </p>
        </div>
        <div class="site-homepage__split u-group u-animation--fadeInSection">
            <a href="http://www.consanat.com/">
               Página web de la CONSANAT
            </a>
        </div>
    </div>
</section>

