
@{
    ViewBag.Title = "Directorio";
}

<div class="container">
    <div class="col-md-10 ml-auto mr-auto">
        <h1 class="title">El directorio</h1>
    </div>
        <div class="row">
            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/nikola.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Presidente</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Jusuf Nikola Ustavdich Vélez</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Abogado
                                </li>
                                <li>
                                    Especialización en Administración y Gestión de espacios deportivos
                                </li>
                                <li>
                                    Director deportivo en Planeta Aqua
                                </li>
                                <li>
                                    Gerente comercial de Velez- Vaupel asesores y corredores de seguros
                                </li>
                                <li>
                                    Ex Seleccionado Nacional de alto rendimiento
                                </li>
                                <li>
                                    Mundialista ( 2 mundiales , 1 copa del mundo, 4 olimpiadas universitarias)
                                </li>
                                <li>
                                    Campeón Sudamericano Master 2018
                                </li>
                                <li>
                                    Nadador Master de Natación y Aguas abiertas
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>


            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/mirtha.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Vice - Presidente</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Mirtha del Carmen Vicuña Yonz</a>
                        </h3>
                        <p class="card-description">
                            <ul>

                                <li>
                                    Licenciada en Administración
                                </li>
                                <li>
                                    Magister en Marketing y Negocios internacionales
                                </li>
                                <li>
                                    Maestría en Gestión Empresarial
                                </li>
                                <li>
                                    Secretaria General de la F.D.P.N 2017 - 2020
                                </li>
                                <li>
                                    Directora Nacional de Natación Artística desde 2017 - 2020
                                </li>
                                <li>
                                    Directora Nacional de Natación Master desde 2017 -2020
                                </li>
                                <li>
                                    Miembro Comisión Mujer y Deporte  C.O.P desde 2019
                                </li>
                                <li>
                                    Miembro Comisión Master – CONSANAT desde 2019
                                </li>

                                <li>
                                    Presidente Club Deportivo Atlantes 2015-2017
                                </li>
                                <li>
                                    Nadadora Master
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>


            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/jose.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Secretario</h6>
                        <h3 class="card-title">
                            <a href="#pablo">José Manuel Gálaga Torres</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Profesor De Educación Física
                                </li>
                                <li>
                                    Entrenador de Natación en la Universidad Ricardo Palma.
                                </li>
                                <li>
                                    Entrenador de Natación del Colegio La Salle.
                                </li>
                                <li>
                                    Entrenador de Natación del Club Yaku Ukupi.
                                </li>
                                <li>
                                    Coordinador de la Academia de Natación del colegio La Salle
                                </li>
                                <li>
                                    Tesorero en la F.D.P.N. 2012 - 2016.
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>



            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/vicente.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Pro secretario</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Vicente Carlos Hinojosa Otoya</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Arquitecto
                                </li>
                                <li>
                                    CEO Manzana Cuadrada
                                </li>
                                <li>
                                    Past President  Club Deportivo Campo de Marte
                                </li>
                                <li>
                                    Ex Seleccionado nacional de Polo Acuático
                                </li>
                                <li>
                                    Miembro CTPA - CONSANAT desde 2015
                                </li>
                                <li>
                                    Miembro CTPA – UANA desde 2019
                                </li>
                                <li>
                                    Promotor Plan de Desarrollo Waterpolo para Todos
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>



            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/edwing.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Tesorero</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Edwing Martín Suni Melgar</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Empresario
                                </li>
                                <li>
                                    Dirigente Deportivo Aquatica Sports Center con experiencia dirigencial de veinte años.
                                </li>
                                <li>
                                    Tesorero FDPN  2009 - Set 2010
                                </li>
                                <li>
                                    Estudios profesionales de Administración de Empresas y Contabilidad por la  Universidad del Pacífico
                                </li>
                                <li>
                                    Post grado en Mergers & Aquisitions University of Pennsylvania - Wharton School
                                </li>
                                <li>
                                    Desarrollo profesional en conusltoría de negocios y auditoría en Arthur Andersen & Co.
                                </li>


                            </ul>
                        </p>

                    </div>
                </div>
            </div>


            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/marta.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Pro tesorera</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Martha Cecilia Camino Ríos</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Empresaria
                                </li>
                                <li>
                                    Administración y Marketing
                                </li>
                                <li>
                                    Especialización en gestión empresarial
                                </li>
                                <li>
                                    Dirigente deportivo en Tater Ledgard
                                </li>
                                <li>
                                    Dirigente deportiva en Planeta Aquatic Center
                                </li>
                                <li>
                                    Delegada deportiva en equipos competitivos
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>


            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-header card-header-image">
                            <a href="">
                                <img class="img" src="~/Content/img/Fotos/augusto.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h6 class="card-category text-info">Vocal técnico</h6>
                        <h3 class="card-title">
                            <a href="#pablo">Augusto Enrique Del Águila Ríos</a>
                        </h3>
                        <p class="card-description">
                            <ul>
                                <li>
                                    Licenciado en Educación Física Deportes y Recreación
                                </li>
                                <li>
                                    Entrenador Nacional de Natación
                                </li>
                                <li>
                                    Entrenador Fina Nivel 2
                                </li>
                                <li>
                                    Entrenador actual de la UPCP
                                </li>
                                <li>
                                    Promotor Deportivo
                                </li>
                                <li>
                                    Asesor Técnico de ASPEDA
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>



        </div>
    </div>

