
@{
    ViewBag.Title = "IPD";
}




<section class="site-contentpage site-homepage__pushup">
    <header class="site-homepage__section__header">
        <h2 class="site-title site-title--ultra site-title--ultra--primary">Instituto peruano del deporte</h2>
    </header>
    <div class="wrapper">
        <div class="formatted">
            <p class="u-type--gamma">
                El Instituto Peruano del Deporte (IPD) es el ente estatal rector de las actividades deportivas peruanas.
                Es un organismo público descentralizado adscrito al Ministerio de Educación del Perú.1 El IPD está compuesto
                por las federaciones de cada deporte y conformado por las direcciones regionales, esta institución se encarga
                de programar y ejecutar la política deportiva en todas las disciplinas reconocidas.
            </p>


            <div class="site-homepage__split u-group u-animation--fadeInSection">
                <a href="http://www.ipd.gob.pe/">
                    <img src="~/Content/img/fondos/ipd-banner.jpg" class="centrado" />
                </a>
                <a href="http://www.grupoacquabello.com/" id="Jaked" class="center"> </a>
            </div>
            <h2 class="u-type--delta u-type--upper u-spc-bottom--sml"><strong>Funciones</strong></h2>
            <p class="u-type--gamma">

                De acuerdo con la Ley de Promoción y Desarrollo del Deporte, las funciones del Instituto Peruano del Deporte son:
                <ul type="1">
                    <li>
                        Formular, planificar y dirigir la política deportiva, recreativa y de educación física.
                    </li>
                    <li>
                        Formular y aprobar su presupuesto y plan de inversiones.
                    </li>
                    <li>
                        Formular, aprobar y supervisar el Plan Nacional del Deporte. Así como supervisar su cumplimiento.
                    </li>
                    <li>
                        Coordinar con el Consejo del Deporte Escolar los planes de acción para el desarrollo y promoción de la actividad física y el deporte escolar.
                    </li>
                    <li>
                        Promover la formación y capacitación de deportistas, técnicos, dirigentes, profesionales del deporte y agentes deportivos.
                    </li>
                    <li>
                        Promover la participación activa de la empresa privada en la promoción y desarrollo de la recreación y del deporte en sus diferentes disciplinas y modalidades.
                    </li>
                    <li>
                        Promover y coordinar con los Gobiernos Locales, Gobiernos Regionales, Universidades, Institutos Superiores, Escuelas de las Fuerzas Armadas, la Policía Nacional del Perú, Centros Educativos y Centros Laborales, Comunidades Campesinas y Nativas la realización de actividades deportivas, recreativas y de educación física en su respectivo ámbito.
                    </li>
                    <li>
                        Reconocer a las Federaciones Deportivas Nacionales que cumplan los requisitos de ley.
                    </li>
                    <li>
                        Suscribir convenios de cooperación técnico-deportivos y económicos a nivel nacional e internacional para el desarrollo del deporte, la recreación y educación física en sus diferentes disciplinas y modalidades, de acuerdo a ley.
                    </li>
                    <li>
                        Promover la implementación de infraestructura, accesos y equipos adecuados para la participación deportiva, recreativa y de educación física de personas con discapacidad física y mental.
                    </li>
                    <li>
                        Promover e impulsar medidas de prevención y control del uso de sustancias prohibidas y métodos no reglamentarios destinados a aumentar artificialmente la capacidad física del deportista, de acuerdo a la normatividad nacional e internacional del deporte.
                    </li>
                    <li>
                        Implementar, desarrollar y mantener actualizado el Registro Nacional del Deporte.
                    </li>
                    <li>
                        Aceptar donaciones y legados de personas e instituciones nacionales y extranjeras.
                    </li>
                    <li>
                        Adquirir bienes muebles e inmuebles para el cumplimiento de sus fines.
                    </li>
                    <li>
                        Formular y proponer estímulos e incentivos a la inversión de los sectores privado y público por el auspicio y promoción a las actividades físicas, recreativas y deportivas a nivel local, regional y nacional.
                    </li>
                    <li>
                        Regular el uso de los símbolos deportivos nacionales.
                    </li>
                    <li>
                        Crear Centros de Alto Rendimiento.
                    </li>
                    <li>
                        Autorizar y regular la cesión en uso de los bienes y la concesión de la infraestructura deportiva con fines de rehabilitación, mantenimiento y construcción de infraestructura de conformidad con lo dispuesto en la presente Ley.
                    </li>
                    <li>
                        Elaborar y proponer iniciativas legislativas, reglamentarias y administrativas para la promoción y desarrollo de la actividad física, recreación y el deporte a nivel local, regional y nacional.
                    </li>
                </ul>
            </p>


        </div>
        <div class="site-homepage__split u-group u-animation--fadeInSection">
            <a href="http://www.ipd.gob.pe/">
                Página web del IPD
            </a>
        </div>

    </div>
</section>

