
@{
    ViewBag.Title = "Gracias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row default-style">
    <div id="left-block" class="col-md-6 col-sm-12 left-block">
        <div class="left-content">
            <h1>Federación Deportiva Peruana de Natación</h1>
            <img src="~/Content/images/Logo_fdpn.png" style="height:100px;" />
            <h3>¡Ya estás inscrito!</h3>
            <h2>Te esperamos en nuestro evento</h2>
          
        </div>
        <!-- /.left-content -->
    </div>
    <!-- /.left-block -->

    <div id="right-block" class="col-md-6 col-sm-12 right-block">
        <div class="right-content">
            <h2>Cursos y eventos</h2>
            <p>Dentro de poco se te enviará un email de confirmación con los datos de tu inscripción.
           Por favor síguenos en nuestra web y facebook así podrás enterarte de nuestras
            noticias y cursos que preparemos <br>
            <ul>
                <li><span><i class="fas fa-align-left"></i></span>Torneos</li>
                <li><span><i class="fas fa-archive"></i></span>Resultados en vivo</li>
                <li><span><i class="fas fa-save"></i></span>Rankings y récords</li>
                <li><span><i class="fas fa-video"></i></span>Videos</li>
                <li><span><i class="fas fa-newspaper"></i></span>Noticias</li>
            </ul>
            <p class="followus">Síguenos en</p>
            <ul class="social-icon">
                <li><a href="http://fdpn.org/" data-toggle="tooltip" title="¡Visita nuestra página!"><i class="fa fa-box-open"></i></a></li>
                <li><a href="https://www.facebook.com/FederacionNatacion/" data-toggle="tooltip" title="¡Síguenos en Facebook!"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
        <!-- /.right-content -->
    </div>
    <!-- ./right-block -->
</div>
    </div>

