@model FDPN.Models.Usuario

@{
    ViewBag.Title = "Login";
    string path = "../content/img/" + ViewBag.banner;
    Layout = null;
}
<head>
    <title>Página inicial de afiliaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Datos de afiliaciones de los clubes afiliados">
    <meta name="author" content="Jorge Arana Neyra">
    <!-- CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/main.min.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Fav and touch icons -->
    <link href="~/Content/bootstrap/ionicons.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/main.min.css" rel="stylesheet" />


    <link rel="shortcut icon" href="~/Content/img/Imgsmall/favicon.ico">

</head>


<body class="middle-content page-login paginainicial" style="background-image: url(@path) ;    background-repeat: repeat; background-size: cover;">
    @using (Html.BeginForm("Login", "administrador", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="text-center loginscreen  animated fadeInDown">
           
  
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-1 col-lg-4 col-lg-offset-2">
                        <div class="content-box-bordered login-box box-with-help" data-toggle="popover" title="No olvide actualizar su navegador" data-content="Actualice su navegador para poder navegar correctamente">
                            <h1>Ingrese a su cuenta</h1>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputEmail3b" class="control-label sr-only">Email</label>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon ion-email"></i></span>
                                            @Html.TextBoxFor(a => a.Usuario1, new { @class = "form-control", @Placeholder = "Código", @Type = "text", @Value = "" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <label for="inputPassword3b" class="control-label sr-only">Password</label>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon ion-locked"></i></span>
                                            @Html.PasswordFor(a => a.Password, new { @class = "form-control", @Type = "Password", @Placeholder = "Contraseña" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-xs-7">
                                        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <br />
                            <p>
                                <em>¿Aún no se afilia a la FDPN?</em>
                                <a href="#">
                                    <strong>Comuníquese con nosotros.</strong>
                                </a>
                            </p>
                            <button type="button" class="btn btn-link btn-login-help"><i class="icon ion-help-circled"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-block">
                                <h4 class="card-title">Acceso al área de afiliaciones</h4>
                                <p class="card-text">Ingrese a esta área con sus credenciales lo que le permitirá gestionar la afiliación de su club y deportistas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Javascript -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
</body>