
@{
    ViewBag.Title = "Mantenimiento";
}
<div class="espaciado"></div>
<div style="text-align: center;">
    <h2 style="color:blue">Discúlpanos, estamos en mantenimiento</h2>
    <img src="http://localhost:55334/Content/img/En Mantenimiento.png" style="background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   " />
    <div class="espaciado"></div>
    <h2 style="color:blue">En breve terminaremos y podrás ver nuestro contenido.</h2>
</div>


