
@{
    ViewBag.Title = "Documentos";
}

<section class="site-contentpage site-homepage__pushup">

    <header class="site-homepage__section__header">
        <h2 class="site-title site-title--ultra site-title--ultra--primary">Documentos</h2>
    </header>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card" style="height:230px;">
                <div class="calendarioficha natacion"  style="height:230px;">
                    <a href=@Url.Action("Reglamentos", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Reglamentos
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Reglamentos aprobados que rigen la FDPN</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="calendarioficha natacion" style="height:230px;">
                    <a href=@Url.Action("Subvenciones", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Subvenciones
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Subvenciones que se han aprobado y ejecutado</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="calendarioficha natacion" style="height:230px;">
                    <a href=@Url.Action("Comunicados", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Comunicados
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Comunicados diversos emitidos por la FDPN</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="calendarioficha natacion" style="height:230px;">
                    <a href=@Url.Action("Bases", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Bases de torneos
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Bases de los torneos dentro del calendario anual de la FDPN</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="calendarioficha natacion" style="height:230px;">
                    <a href=@Url.Action("Normas", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Normas
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Normas emitidas por la FDPN y la FINA</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="calendarioficha natacion" style="height:230px;">
                    <a href=@Url.Action("Records", "Documentos")>
                        <div>
                            <h3 class="cardtitulo">
                                Records
                            </h3>
                            <hr />
                            <p class="cardsubtitulo-blanca">Récords absolutos y de categorías </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>