@model List<FDPN.Models.Fotos>

@{
    ViewBag.Title = "Formatos";
    string path = Url.Content("../Content/img/Fotos/");
}


<div class="container">
    <h2 class="title">Lista de clubes hábiles</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descipción
                </th>
                <th>
                    Documento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @item.Noticias.Titulo
                    </td>
                    <td>
                        <a href=@Url.Action(path + item.Nombrefoto) target="_blank">
                            <i class="fa fa-download" aria-hidden="true"></i> Ver documento
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
