
@{
    ViewBag.Title = "ListarMasters";
    string MeetName = ViewBag.MeetName
}

<h2>ListarMasters</h2>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Torneo seleccionado: <strong>@MeetName</strong></h5>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive" id="tablaListadoMasters">
                        @Html.Action("_PreviewJaked")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>