<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.fdpn.org</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://205.144.171.59:8172/MsDeploy.axd?site=jorgearananeyra-001-site21</MSDeployServiceURL>
    <DeployIisAppPath>jorgearananeyra-001-site21</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>jorgearananeyra-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FDPN.Models.DB_9B1F4C_FDPNEntities" Order="4" Enabled="False">
          <!--<Destination Path="Data Source=sql5014.site4now.net;Initial Catalog=DB_9B1F4C_comentarios;Persist Security Info=True;User ID=DB_9B1F4C_comentarios_admin;Password=jujituss;Application Name=EntityFramework" Name="" />-->
          <Object Type="DbCodeFirst">
            <!--<Source Path="DBContext" DbContext="FDPN.Models.DB_9B1F4C_comentariosEntities, FDPN" Origin="" />-->
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_9B1F4C_FDPNEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5100.site4now.net;Initial Catalog=DB_9B1F4C_FDPN;Persist Security Info=True;User ID=DB_9B1F4C_FDPN_admin;Password=Premio1." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FDPN.Models.DB_9B1F4C_FDPNEntities, FDPN" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DB_9B1F4C_FDPNEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5100.site4now.net;Initial Catalog=DB_9B1F4C_FDPN;Persist Security Info=True;User ID=DB_9B1F4C_FDPN_admin;Password=Premio1."</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>