<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding: 20px">
                <span class="m-r-sm text-muted welcome-message">Aplicación de inscripción de deportistas afiliados.</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-video-camera  fa-3x"></i>   <span class="label label-danger">4</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="https://www.youtube.com/watch?v=5l1cCCuoqfg" class="dropdown-item">
                            <div>
                                <i class="fa fa-video  fa-fw"></i> Como grabar
                                <span class="float-right text-muted small">Video 1</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=sqQfHSpJpnk" class="dropdown-item">
                            <div>
                                <i class="fa fa-video  fa-fw"></i> Modificar
                                <span class="float-right text-muted small">Video 2</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=cfKItHSmlsM" class="dropdown-item">
                            <div>
                                <i class="fa fa-video  fa-fw"></i> Exportar
                                <span class="float-right text-muted small">Video 3</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=utzaTTdiYVw" class="dropdown-item">
                            <div>
                                <i class="fa fa-video-camera  fa-fw"></i> Retirar
                                <span class="float-right text-muted small">Video 4</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>



            <li>
                <a href=@Url.Action("logout", "home")>
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>

        </ul>

    </nav>
</div>
